@tailwind base;
@tailwind components;
@tailwind utilities; /** @type {import('tailwindcss').Config} */

:root {
  --max-width: 1200px;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: var(--font-family);
  max-width: var(--max-width);
  min-height: 100%;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom left, #fff, #3b82f6);
  background-attachment: fixed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::before,
::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a span {
  @apply ml-3 text-base font-medium text-darkBlue hover:text-lightBlue;
}

.popover-button {
  @apply inline-flex items-center justify-center p-2 text-darkBlue hover:text-lightBlue rounded-md bg-blue-50  hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-200;
}

section {
  @apply md:mx-0 mx-4 max-w-7xl my-[100px] block md:flex items-center;
  flex: 1 1 auto;
}

.nav {
  z-index: 1000;
}

.video-container {
  max-height: 70vh;
  height: 100%;
}

.video-container,
.how-container {
  overflow: hidden;
  height: auto;
  width: 100%;
}

.how-container {
  max-height: 50vh;
  display: flex;
}

video {
  object-fit: contain;
}
